.selector {
    height: 30px;
    border: none;
    border-radius: 20px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.filterType {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.orderType {
    display: flex;
    width: 30%;
    justify-content: space-around;
}


.button {
    border: 0;
    padding: 8px 12px;
    height: fit-content;
    border-radius: 50px;
    color: #ba805d;
    margin: 5px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    font-family: 'dogs-font';
    font-size: larger;
}

.button:hover {
    background-color: #fad9ab;
    
}

.selected {
    border: 0;
    padding: 8px 12px;
    height: fit-content;
    border-radius: 50px;
    color: #ba805d;
    background: linear-gradient(to bottom, #fad9ab, #eec490);;
    margin: 5px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    font-family: 'dogs-font';
    font-size: larger;
}