.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .input {
    margin: 5px;
    height: 30px;
    width: 15vw;
    border-radius: 20px;
    border: none;
  }

  .button {
    border: 0;
    padding: 8px 12px;
    height: fit-content;
    border-radius: 50px;
    color: #ba805d;
    margin: 5px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    font-family: 'dogs-font';
    font-size: larger;
}

.button:hover {
    background-color: #eec490;
  }